@media (max-width: 450px) {
    .container {
        display: flex;
        justify-content: center;
        background-image: none;
        margin-bottom: .5em;
    }

    .secundario {
        flex-direction: column;
        align-items: center;
    }

    .secundario__imagem {
        width: 300px;
    }

    .container__descricao {
        margin: 0;
        padding: 0;
    }

    .descricao__titulo {
        display: block;
        text-align: center;
        padding-bottom: .5em;
    }

    .descricao__texto {
        width: 350px;
        display: block;
        text-align: center;
        margin-bottom: 2em;
    }

    .secundario__botao {
        width: 300px;
        text-align: center;
        margin-bottom: 4em;
    }

    .imagem_notebook {
        width: 350px;
        margin: 3em;
    }

    .dispositivos__lista {
        flex-direction: column;
    }

    .rodape__lista {
        flex-direction: column;
    }

    .lista__link {
        padding: 0.1em 0;
    }

    .rodape__texto {
        width: 350px;
    }
}